{
    "presets": [
        [
            "@babel/preset-env",
            {
                "corejs": "3",
                "useBuiltIns": "entry",
                "targets": { "browsers": ["last 2 versions", "ie >= 7"] }
            },
            "@vue/app"
        ]
    ],
    "plugins": [
        "babel-plugin-syntax-dynamic-import",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-runtime",
        "babel-plugin-transform-vue-jsx"
    ]
}
