{
    "presets": [
        [
            "@babel/preset-env",
            {
                "corejs": "3",
                "useBuiltIns": "usage",
                "targets": { "browsers": ["last 2 versions", "ie >= 7"] }
            }
        ]
    ],
    "plugins": [
        "babel-plugin-syntax-dynamic-import",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-runtime",
        "babel-plugin-transform-vue-jsx",
        "@vue/babel-plugin-transform-vue-jsx",
        "@babel/plugin-proposal-class-properties"
    ]
}
