APP_NAME=Larajs
APP_ENV=local
APP_KEY=base64:iPboPHPfUqSJBm2ceCmEhn2OsUtVLOL33Sq5QupHkcQ=
APP_DEBUG=true
APP_URL=http://local.larajs.com
LARAJS_USE_ESLINT=true

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=laradock_mysql_larajs_1
DB_PORT=3306
DB_DATABASE=larajs
DB_USERNAME=tanmai
DB_PASSWORD=tanmai

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=larajs.vue@gmail.com
MAIL_PASSWORD=kimosnxthfpvhdyw
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=larajs.vue@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1
BASE_API=/api/v1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
MIX_BASE_API="${BASE_API}"
MIX_APP_URL="${APP_URL}"
MIX_APP_DEBUG="${APP_ENV}"
MIX_CONTENT_DIRECTION=ltr

PASSPORT_LOGIN_ENDPOINT="${APP_URL}/oauth/token"
PASSPORT_CLIENT_ID=2
PASSPORT_CLIENT_SECRET=9KyP3UvnM5qMsdxcAybKK4F4nYXTPJM38m9y2QmU
