/node_modules
/public/hot
/public/storage
/public/css/*.map
/storage/*.key
/vendor
/public/*.js.map
/public
/.idea
/v8-compile-cache-0
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
