/node_modules
/public/hot
/public/storage
/public/css/*.map
/storage/*.key
/vendor
/public/css/app.css
/public/*.js.map
/public/uploads
/public/js/chunks
/public/js/app.js
/public/js/manifest.js
/public/js/vendor.js
/public/mix-manifest.json
/.idea
/v8-compile-cache-0
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/workspace.xml
