
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap

//@import '~bootstrap/scss/bootstrap';
@import "~bulma/bulma";
@tailwind base;
@tailwind components;
@tailwind utilities;
