
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap

@import '~bootstrap/scss/bootstrap';
@tailwind preflight;
@tailwind components;
@tailwind utilities;
