{
    "openapi": "3.0.0",
    "info": {
        "title": "Manage API",
        "description": "Documents Api",
        "contact": {
            "email": "maingocthanhtan96@gmail.com"
        },
        "license": {
            "name": "Go to Larajs",
            "url": "/"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://local.larajs.com/api/v1",
            "description": "Api v1"
        },
        {
            "url": "http://local.larajs.com/api/v2",
            "description": "Api v2"
        }
    ],
    "paths": {
        "/test-generators": {
            "get": {
                "tags": [
                    "TestGenerator"
                ],
                "summary": "List TestGenerator",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "authApi": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "TestGenerator"
                ],
                "summary": "Create TestGenerator",
                "requestBody": {
                    "required": true
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "authApi": []
                    }
                ]
            }
        },
        "/test-generators/{id}": {
            "get": {
                "tags": [
                    "TestGenerator"
                ],
                "summary": "Update TestGenerator",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "authApi": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "TestGenerator"
                ],
                "summary": "Update TestGenerator",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TestGenerator"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "authApi": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "TestGenerator"
                ],
                "summary": "Delete TestGenerator",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "authApi": []
                    }
                ]
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Login",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "example@larajs.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login Success!"
                    }
                }
            }
        },
        "/user-info": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Info user",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "authApi": []
                    }
                ]
            }
        },
        "/users": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "List User",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "authApi": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Create User",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/User"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "authApi": []
                    }
                ]
            }
        },
        "/users/{id}": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Find User",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "authApi": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "User"
                ],
                "summary": "Update User",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/User"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "authApi": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "User"
                ],
                "summary": "Delete User",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "authApi": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "TestGenerator": {
                "title": "TestGenerator",
                "required": [],
                "properties": {
                    "int": {
                        "title": "Int",
                        "description": "",
                        "type": "integer",
                        "default": "NULL",
                        "example": "0"
                    },
                    "big_int": {
                        "title": "Big int",
                        "description": "",
                        "type": "integer",
                        "default": "NULL",
                        "example": "0"
                    },
                    "float": {
                        "title": "Float",
                        "description": "",
                        "type": "number",
                        "format": "float",
                        "default": "NULL",
                        "example": "0.1"
                    },
                    "double": {
                        "title": "Double",
                        "description": "",
                        "type": "number",
                        "format": "double",
                        "default": "NULL",
                        "example": "0.1"
                    },
                    "boolean": {
                        "title": "Boolean",
                        "description": "",
                        "type": "boolean",
                        "default": "NULL",
                        "example": "0"
                    },
                    "date": {
                        "title": "Date",
                        "description": "",
                        "type": "string",
                        "default": "NULL",
                        "example": "1996-02-17"
                    },
                    "date_time": {
                        "title": "Date time",
                        "description": "",
                        "type": "string",
                        "default": "NULL",
                        "example": "1996-02-17 12:00:00"
                    },
                    "time": {
                        "title": "Time",
                        "description": "",
                        "type": "string",
                        "default": "NULL",
                        "example": "12:00:00"
                    },
                    "year": {
                        "title": "Year",
                        "description": "",
                        "type": "string",
                        "default": "NULL",
                        "example": "1996"
                    },
                    "varchar": {
                        "title": "Varchar",
                        "description": "",
                        "type": "string",
                        "default": "NULL",
                        "example": "string"
                    },
                    "text": {
                        "title": "Text",
                        "description": "",
                        "type": "string",
                        "default": "NULL",
                        "example": "string"
                    },
                    "long_text": {
                        "title": "Long text",
                        "description": "",
                        "type": "string",
                        "default": "NULL",
                        "example": "string"
                    },
                    "enum": {
                        "title": "Enum",
                        "description": "",
                        "type": "string",
                        "default": "NULL",
                        "enum": [
                            1,
                            2,
                            3
                        ],
                        "example": "1"
                    },
                    "file": {
                        "title": "File",
                        "description": "",
                        "type": "string",
                        "default": "NULL",
                        "example": "['https://lorempixel.com/150/150/?77253', 'https://lorempixel.com/150/150/?77253']"
                    },
                    "created_at": {
                        "title": "Create date",
                        "description": "",
                        "type": "string",
                        "format": "date-time",
                        "default": "timestamp",
                        "example": ""
                    },
                    "updated_at": {
                        "title": "Update date",
                        "description": "",
                        "type": "string",
                        "format": "date-time",
                        "default": "timestamp",
                        "example": ""
                    },
                    "deleted_at": {
                        "title": "Delete date",
                        "description": "",
                        "type": "string",
                        "format": "date-time",
                        "default": "timestamp",
                        "example": ""
                    }
                },
                "type": "object"
            },
            "User": {
                "title": "User",
                "required": [
                    "name",
                    "email",
                    "password",
                    "role_id"
                ],
                "properties": {
                    "name": {
                        "title": "Name",
                        "description": "",
                        "type": "string",
                        "default": "None"
                    },
                    "email": {
                        "title": "Email",
                        "description": "",
                        "type": "string",
                        "default": "None",
                        "example": "example@larajs.com"
                    },
                    "avatar": {
                        "title": "Avatar",
                        "description": "",
                        "type": "string",
                        "default": "None",
                        "example": "https://lorempixel.com/150/150/?57749"
                    },
                    "role_id": {
                        "title": "Role",
                        "description": "You cann't set id as 1(role: admin)",
                        "type": "integer",
                        "default": "None",
                        "example": "2"
                    },
                    "password": {
                        "title": "Password",
                        "description": "",
                        "type": "string",
                        "default": "None",
                        "example": "larajs"
                    },
                    "created_at": {
                        "title": "Create date",
                        "description": "",
                        "type": "string",
                        "format": "date-time",
                        "default": "timestamp",
                        "example": ""
                    },
                    "updated_at": {
                        "title": "Update date",
                        "description": "",
                        "type": "string",
                        "format": "date-time",
                        "default": "timestamp",
                        "example": ""
                    },
                    "deleted_at": {
                        "title": "Delete date",
                        "description": "",
                        "type": "string",
                        "format": "date-time",
                        "default": "timestamp",
                        "example": ""
                    }
                },
                "type": "object"
            }
        },
        "responses": {
            "OK": {
                "description": "Success",
                "content": {
                    "application/json": {
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "string",
                                    "example": "true"
                                },
                                "data": {
                                    "type": "string",
                                    "example": "[]"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "NotFound": {
                "description": "Error",
                "content": {
                    "application/json": {
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "string",
                                    "example": "false"
                                },
                                "message": {
                                    "type": "string",
                                    "example": "404 not found"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "Error": {
                "description": "Error",
                "content": {
                    "application/json": {
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "string",
                                    "example": "false"
                                },
                                "message": {
                                    "type": "string",
                                    "example": "Error server"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "parameters": {
            "id": {
                "name": "id",
                "in": "path",
                "description": "ID",
                "required": true,
                "schema": {
                    "type": "integer"
                }
            }
        },
        "securitySchemes": {
            "authApi": {
                "type": "http",
                "in": "header",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    }
}