.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;

  &:before {
    content: "\00a0";
  }

  .flag-icon-squared {
    width: 1em;
  }
}

.flag-icon-vn {
  background-image: url(../flags/4x3/vn.svg);
}

.flag-icon-um {
  background-image: url(../flags/4x3/um.svg);
}

.flag-icon-jp {
  background-image: url(../flags/4x3/jp.svg);
}
