@import "~nprogress/nprogress.css"; // progress bar style
@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import "variables";
@import "transition";
@import "table";
@import "mixin";
@import "element-ui";
@import "sidebar";
@import "btn";
@import "flag";
@import "diagramRelationship";

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600&display=swap");
html {
  font-size: 62.5% !important;
  box-sizing: border-box;
  overflow: inherit !important;
}

//html[theme='dark'] img,
//picture,
//video{
//  filter: invert(1) hue-rotate(180deg);
//}

:focus {
  outline: 0 !important;
}

#app {
  width: 100%;
  height: 100%;
  background: #edeef2;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: initial;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
}

.content-wrapper {
  padding: 2.25rem 2.25rem;
  width: 100%;
  display: flex;
  justify-content: center;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  @media (max-width: 767px) {
    padding: 1rem 1rem;
  }
}
