.VueTables {
  .table-responsive {
    overflow: auto;
    width: 100%;
  }
  position: relative;
  .VueTables__table {
    thead {
      tr {
        th {
          text-align: center !important;
        }
      }
    }
  }
  .VuePagination {
    margin-top: 0.5rem !important;
  }
}