.VueTables__table {
  thead {
    tr {
      th {
        text-align: center;
      }
    }
  }
}
.VuePagination {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;  // IE 10+
  scrollbar-width: none;  // Firefox
  &::-webkit-scrollbar {
    display: none;
  }
}
.VueTables {
  .table-responsive {
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none;  // Firefox
    &::-webkit-scrollbar {
      display: none;
    }
  }
}